@font-face {
    font-family: 'streetwear';
    src: url('../fonts/Hipstelvetica.ttf');
}
@font-face {
    font-family: 'cylburn';
    src: url('../fonts/Cylburn.otf');
}
@font-face {
    font-family: 'impregnable';
    src: url('../fonts/impreg.ttf');
}
